body {
  transition: 0.4s;
}

body,
h1,
h2,
h3,
p,
dd,
dt,
dl,
ul,
li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}
